{% extends "base.html" %}

{% block title %} Редактирование события {% endblock %}

{% block content %}
<h3> Редактирование события </h3>

<form method="POST" action="">
    {{ form.csrf_token }}
    Название: <br />
    {{ form.title(size=20) }} <br />
    URL события: <br />
    {{ form.event_key(size=20) }} <br />
    Исходы события (каждый с новой строки): <br />
    {{ form.available_answers }}<br />
    Набор верных исходов (каждый с новой строки, заполняется, если нужно завершить событие): <br />
    {{ form.correct_answers_answers }}<br />
    <input type="submit" name="upd-event" value="Обновить">
    <input type="submit" name="finish-event" value="Завершить событие">
</form>

{% endblock %}