{% extends "base.html" %}

{% block title %}Событие: {{ event.title }}{% endblock %}

{% block content %}
<h3> Событие: {{ event.title }} </h3>
<h4> Варианты исхода события </h4>
{% for aa in event.available_answers %}
    <code><a href="#" role="button" class="av_ans btn btn-default" style="margin:3px;">{{ aa }}</a></code>
{% endfor %}

<h4> Ваш вариант </h4>
<p>Чтобы перевыбрать прогноз, кликайте на варианты выше</p>
<p>Доступно вариантов:</p>
    <div class="col-xs-1">
      <input class="form-control" name="ap_left" id="ap_left" type="text" value="{{ event.answers_max }}" disabled>
    </div>
<br /><br />

<form class="form-horizontal" role="form" method="POST" action="/event/{{ event.event_key }}/">
  <div class="form-group">
    <label class="col-sm-2 control-label">Ваши варианты:</label>
    <div class="col-xs-4">
      <textarea class="form-control" name="prof_ans" id="prof_ans" type="text" disabled cols="10" rows="6"></textarea>
    </div>
  </div>
    <input type="hidden" id="prof_ans_hid" name="prof_ans_hid" class="btn btn-default" value="">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="ans_action" name="ans_action" class="btn btn-default btn-primary" value="Обновить прогноз">
      <button id="clear_action" name="clear_action" class="btn btn-default">Очистить</button>
    </div>
  </div>
</form>

<h4> Ваши прогнозы </h4>

{% if profile_aggr %}
    Первый прогноз:
        {% for a in profile_aggr["first_answer"] %}<code>{{ a }}</code>, {% endfor %}
    был дан {{ profile_aggr["first_dt"].strftime('%d.%m.%Y %H:%M') }}<br />
    Последний прогноз:
        {% for a in profile_aggr["last_answer"] %}<code>{{ a }}</code>, {% endfor %}
    был дан {{ profile_aggr["last_dt"].strftime('%d.%m.%Y %H:%M') }}<br />
{% endif %}

<h4> История голосований </h4>

<ul>
    {% for pe in profile_events %}
      <li>{{ pe.profile.email }} answers: {% for ans in pe.answers %} <code>{{ ans }}</code>, {% endfor %}
          at {{ pe.dt.strftime('%d.%m.%Y %H:%M') }} </li>
    {% endfor %}

</ul>

<script>
var ans = '';
var prof_ans = '';
var prof_ans_arr = [];
var ap_left = 0;

$('.av_ans').click(function() {
    ans = $(this).html();
    ap_left = parseInt($('#ap_left').val());
    if ( ap_left > 0 && prof_ans_arr.indexOf(ans) == -1)  {
        $('#ap_left').val(ap_left - 1);
        if (prof_ans == '') {
            prof_ans = ans;
        } else {
            prof_ans = prof_ans + '\n' + ans;
        }
        //prof_ans_arr.push(ans);
        $('#prof_ans').val(prof_ans);
        $('#prof_ans_hid').val(prof_ans);
    }
});

</script>
{% endblock %}

