{% extends "base.html" %}

{% block title %}Событие: {{ event.title }}{% endblock %}

{% block content %}
<h3> Событие: {{ event.title }} </h3>
<h4> Варианты исхода события </h4>
{% for aa in event.available_answers %}
      {{ aa }},
{% endfor %}

<h4> История голосований </h4>

<div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div>

<ul>
    {% for pe in profile_events %}
      <li>{{ pe.profile.email }} answers: {% for ans in pe.answers %} {{ ans }}, {% endfor %}] </li>
    {% endfor %}

</ul>
{% endblock %}